nav {
    display: flex;
    justify-content: space-between;
    background-color: #f0e6e3;
    padding: 0 80px;
    align-items: center;
  }
  
  nav .left ul {
    display: flex;
    align-items: center;
    padding: 0;
    
  }
  
  nav .left ul img {
    margin-right: 40px;
    width: 30px;
  }
  
  nav .left ul li a {
    color: black;
    text-decoration: none;
  }
  
  nav .left ul .active a {
    font-weight: bold;
    color: orangered;
  }
  
  nav .right a {
    text-decoration: none;
    background-color: rgb(22, 21, 21);
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
  }
  
  nav .left ul li {
    list-style-type: none;
    margin-right: 25px;
  }

  .bars-item {
    display: none;
  }


  .title {
    text-align: center;
  }

 .testimoni {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
 }

 
  .rootCard {
    border: 1px solid rgb(182, 179, 179);
    border-radius: 5%;
    box-shadow: 0 10px 20px;
    width: 200px;
    text-align: center;
    padding: 10px;
  }

  .image-card {
    width: 100%;
  }

  div blockquote {
    text-align: end;
    font-weight: bold;
  }

  .rating {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .rating-btn {
    align-items: center;
    margin: 20px;
    color: #f0e6e3;
    background-color: orange;
    border: orange solid;
  }

  .humburger-item {
    display: none;
  }
  
  .humburger-item a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: orange;
  }
  
  .humburger-item .active {
    background-color: white;
  }

  @media only screen and (max-width: 500px) {
    .bars-item {
      display: block;
    }

    .nav-items {
      display: none;
    }
  }