<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
</head>
<body style="background-color: gray;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img style="width: 30px;" src="../asset/css/Gambar/download (1).png" id="image" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
            <li class="nav-item" class="active">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/myProject">My Project</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="/AddProject">Add Project</a>
            </li>
            <li class="nav-item ms-3">
              <a class="nav-link" href="/testimoni">Testimonials</a>
            </li>
          </ul>

          <div class="d-flex justify-content-end">
            <ul class="navbar-nav me-auto mb-2 ms-5 mb-lg-0">
                {{#if isLogin}}
              <li class="nav-item">
                <a class="nav-link" href="#">Hallo {{user}}</a>
              </li>
               <li class="nav-item ms-3 me-4">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
              <li class="nav-item ms-3">
                <a
                  class="nav-link text-danger active fw-semibold"
                  href="/login"
                >Login</a>
              </li>
              <li class="nav-item ms-3">
                <a
                  class="nav-link text-danger active fw-semibold"
                  href="/registrasi"
                >Registrasi</a>
              </li>
              
            </ul>
             {{/if}}

            <a class="btn btn-danger btn-submit ms-5" href="/contact-me">Contact
              Me</a>
          </div>
        </div>
      </div>
    </nav>

      <div style="display: flex; width: 600px; margin: 100px 400px; background-color: white; border-radius: 5%;">
        <div style="padding: 20px;">
        <h3>Hi Welcome to my hut</h3>
        <p style="text-justify: distribute-all-lines;"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, recusandae suscipit! Numquam dolore modi ipsa eveniet impedit eligendi asperiores perspiciatis atque laudantium totam libero, earum animi autem. Quis, voluptates magnam?</p>
    
       <P> <a href="https://web.whatsapp.com/%F0%9F%8C%90/id"  > contact </a></P>
   
        <P><a href="https://drive.google.com/file/d/1LeWKUl-eI7smXE9TNHVzGTlqibZE8E-e/view?usp=drive_link" >Download CV </a></P>
      </div>

        <div style="padding: 20px; justify-content: center; box-shadow: 10px;">
            <img src="asset/css/Gambar/foto.jpg" alt=""  style="border-radius: 5%; width: 200px; justify-content: center;">

            <h3 style="text-align: center;">Rahmat Wahyu</h3>

            <p style="text-align: center;">Fullstack Developer</p>
        </div>
      </div>
      
  
</body>
</html>